body {
 	font-family: 'Cantarell', Lucida Grande, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

h3 {
  background: #FF6F13;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  border-radius: 0 0 2px 2px;
}

.todo {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 0 15px 15px;
  width: 250px;
  margin: 5em auto;
  border: 1px solid #ddd;
}